p {
  color: black;
}
.p1 {
  font-size: 14px;
  color: black;
  font-weight: bold;
}
.b {
  width: 60px;
  height: 28px;
  background-color: #f44336;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.h{
  color: black;
  font-size: 18px;
}
.c {
margin-right: 136px;
font-size: 14px;
font-weight: normal;
color: black;
text-align: center;
}
.b1{
  width:30px;
  height:30px;
  background-color: #f44336;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.r{
  align-items: center;
  display: flex;
  margin-left: 90px;
}
